<style>
input[type=text], input[type=password]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
input[type=submit]{
  background-color: #bccfc6;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 30px 10px;
  cursor: pointer;
}
label{
    font-size: 150%
}
</style>
<h1>Bienvenido a la plataforma para visualizar llamadas de usuarios</h1>

<form action='/login' method='post'>
    <div>
    <label for='user_name'>Nombre de usuario</label>
    <input type='text' id='usr_name' name='usr_name'>
    </div>
    <br><br>
    <label for='pass'>Ingrese contraseña</label>
    <input type='password' name='pass'>
    <br><br>
    <input type='submit' name='login' value='Ingresar'>
</form>

