<h1>Bienvenido a la plataforma para visualizar llamadas de usuarios</h1>

<form action='/login' method='post'>
    <div>
    <label for='user_name'>Nombre de usuario</label>
    <input type='text' id='usr_name' name='usr_name'>
    </div>
    <br><br>
    <label for='pass'>Ingrese contraseña</label>
    <input type='password' name='pass'>
    <br><br>
    <input type='submit' name='login' value='Ingresar'>
</form>

