<html>
    <head>
        <meta charset="UTF-8">
        <title>Mr. Nodo Web</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">             
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>           
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <style>
            li {
                display: inline;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <ul>
            <li><img src="logo.jpg" alt="Mr.Nodo" style="width:30px"></li>
            <li><a href="/">Inicio</a></li>
        </ul>
        <%= yield %>
    </body>
</html>