<html>
    <head>
        <meta charset="UTF-8">
        <title>Mr. Nodo Web</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">             
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>           
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <style>
            li {
                display: inline;
            }
            ul {
                list-style-type: none;
                padding: 0;
                align: left;
                background-color: #333333;
                margin: 40px;
            }
            body{
                margin:50px 0px; padding:0px;
                text-align:center;
                align:center;
                
                background-attachment: fixed;
                background-color: #8f8556;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #111111;
            }
        </style>
    </head>
    
    <body>
        <ul>
            <li><a href="/"><img src="<%= url('images/logo.jpg') %>" alt="Mr.Nodo" style="width:80px"></a></li>
        </ul>
        <%= yield %>
    </body>
</html>